<bs-spinner *ngIf="loading"></bs-spinner>
<div class="container">
    <form [formGroup]="userForm" *ngIf="!loading">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2">

                <div class="row">
                    <div class="form-group col-4 col-md-12">
                        <h2 class="mt-3">Mon compte</h2>
                        <input type="file" class="form-control" accept="image/*" id="avatar" name="avatar"
                            (change)="onFileAdded($event)"
                            #imageInput>
                        <img [src]="avatarPreview" alt="Photo de profil" 
                            class="signupForm__profilePhoto mb-2" 
                            (click)="imageInput.click()">
                    </div>

                    <div class="col-10">
                        <button class="btn btn-primary" (click)="onDeleteImage()">
                            Supprimer
                        </button>
                        <p class="my-1">ou</p>
                        <button class="btn btn-secondary" (click)="imageInput.click()">
                            Modifier
                        </button>
                        <p class="my-1">Votre photo de profil</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-10">
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" readonly="true">
                </div>
                <div class="form-group">
                    <input (change)="onPasswordSelected($event)" class="me-2" type="checkbox" id="password_update">

                    <label for="password_update">Modifier mon mot de passse</label>

                </div>
                <div class="form-group" *ngIf="!ignorePassword">
                    <label for="password">Mot de passe</label>
                    <input type="text" class="form-control" id="password" formControlName="password">
                </div>
                <div class="form-group">
                    <label for="user_name">Prénom ou pseudo</label>
                    <input type="text" class="form-control" id="user_name" formControlName="user_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Nom de famille</label>
                    <input type="text" class="form-control" id="last_name" formControlName="last_name">
                </div>
                <div class="row">
                    <button class="btn btn-primary m-2 col" [disabled]="userForm.invalid" (click)="onUpdate()">
                        Sauvegarder
                    </button>
                    <button class="btn btn-secondary m-2 col" (click)="onCancel()">
                        Annuler
                    </button>    
                </div>

                <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
            </div>
        </div>
    </form>
</div>