<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <textarea class="form-control" formControlName="content"
            name="content" id="content" cols="30" rows="5" placeholder="Exprimez-vous"
            trimInput>
        </textarea>
    </div>
    <div class="input-group">
        <input class="form-control" type="file" id="postFile" accept="image/*" aria-label="télécharger une photo pour la publication"
        (change)="onFileAdded($event)">
    </div>
    <div class="form-group text-end">
        <button class="btn btn-primary" type="submit"
            [disabled]="postForm.invalid"
            *ngIf="!loading">
            Publier
        </button>
        <app-bs-spinner *ngIf="loading"></app-bs-spinner>
        <app-error-panel *ngIf="errorMessage" errorMessage="{{ errorMessage }}"></app-error-panel>
    </div>
</form>