<app-bs-spinner *ngIf="loading"></app-bs-spinner>
<div class="container">
    <form [formGroup]="userForm" *ngIf="!loading">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2">

                <div class="form-group">
                    <h2 class="mt-3">S'inscrire</h2>
                    <p class="text-muted">C'est rapide et facile</p>
                </div>
                <div class="form-group">
                    <div class="form-image-container">
                        <input (change)="onFileAdded($event)" #imageInput type="file" class="form-control"
                            accept="image/*" id="avatar" name="avatar">
                        <img [src]="avatarPreview" alt="Photo de profil"
                            (click)="imageInput.click()">
                        <button class="btn-delete" type="button" aria-label="Supprimer l'image"
                            (click)="onDeleteImage()">
                            <i class="bi bi-trash"></i>
                        </button>

                        <button class="btn-upload" type="button" aria-label="Télécharger une photo de profil"
                            (click)="imageInput.click()">
                            <i class="bi bi-cloud-arrow-up"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="col-md-9 col-lg-10">
                <div class="form-group mt-3">
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="user_name" placeholder="Prénom ou pseudo"
                        formControlName="user_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="last_name" placeholder="Nom de famille"
                        formControlName="last_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="password" placeholder="Mot de passe"
                        formControlName="password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="passwordConfirmation"
                        placeholder="Confirmez votre mot de passe" formControlName="passwordConfirmation">
                </div>

                <button class="btn btn-primary mt-2" [disabled]="userForm.invalid" (click)="onSubmit()">
                    Inscription
                </button>
                <p class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg }}</p>
            </div>
        </div>
    </form>
</div>